.logo-link {
    display: inline-block;
    width: 1200px;
    height: 700px;
    margin: 10px auto;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

header {
    text-align: center;
    padding: 20px 0;
}

body {
    background-color: rgb(14, 1, 36);
    color: white;
    padding: 30px;

}

/*               SHORTCUT 1              */
.shortcut {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 800px;
}

.shortcut a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: #e37242;
    transition: background-color 0.3s ease; /*vond ik online zag er mooi uit */
}

.shortcut a:hover {
    background-color: #f0f0f0;
}

/*                SHORTCUT 2             */
.shortcut2 {
    text-align: center;
    margin-top: 20px;
}

.shortcut2 a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 27px;
    color: #e37242;
    transition: background-color 0.3s ease; /*vond ik online zag er mooi uit */
}

.shortcut2 a:hover {
    background-color: #f0f0f0;
}

.space {
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px; 
}


h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e37242;
}

h1 {
    font-size: 36px;
    margin-top: 50px;
}

h2 {
    font-size: 30px;
    margin-top: 30px;
}

h3 {
    font-size: 24px;
    margin-top: 20px;
}

p, ul {
    font-size: 21px;

    color: #ffffff;
}

ul {
    margin-left: 20px;
}

ul li {
    margin-bottom: 15px;
    color:rgb(255, 238, 0);
}

em {
    color:#e37242
}

.link {
    color:red;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Global link styles */
a {
    color: #184ee0; /* Set your desired link color */
    text-decoration: none; /* Remove underline */
}
